html, body {
	font-family: sans-serif;
	font-size: 90%;    /* Desktop */ 
}

@media screen and (max-width: 400px) /* Mobile  */ {
	html, body { font-size: 100%; }
}

/*-- other elements --*/
#chart_source {
	font-size: 1rem;
}

#conn_selector, #chart_source, #rac_instance1 {
	width: 15em;
}
/*-- initially hide --*/
#rac_instance1 {display: none;}

/*-- Chart and Metric legend --*/
.chart {
	display: inline-block;
	position: relative;
	width: 70%;
	min-width: 400px;
}
#chart_dygraph {
	width: 100% !important;
}
.chart h2 {
	margin: 0px;
	font-size: 1rem;
	text-align: center;
	background:hsl(170,70%, 80%);
}


/*-- Chart titles and labels --*/
.dygraph-title { 
	font-size: 1rem; 
	#text-shadow: gray 1px 1px 1px;
}
.dygraph-label.dygraph-xlabel, 
.dygraph-label.dygraph-ylabel,
.dygraph-axis-label.dygraph-axis-label-x,
.dygraph-axis-label.dygraph-axis-label-y,
.dygraph-legend {
	font-size: 0.8rem;
	font-weight: bold;
}

/*-- Spinner animation --*/
/*-- https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader --*/
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  /*border-top: 6px solid #3498db;*/
  border-top: 6px solid hsl(170,100%, 40%);
  width: 36px;
  height: 36px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.outer {
	/*position:relative;*/
	width=90%;
	/*--- below is to prevent legend div falling to next line on window shrink ---*/
	white-space:nowrap;
    overflow:hidden;
}

/*----- Legend -----*/
#legend {
	display: inline-block;
	vertical-align: top;
	position:relative;
	margin-left: 1em;
	margin-right: 1em;
	min-width: 200px;
	width: 15%;
	
}
#legend h2 {
	margin: 0px;
	font-size: 1rem; 
	text-align: center;
	background:hsl(170,70%, 80%);
}

#legend ul {
	list-style-type: none;
	cursor: default;
}

#legend ul {
	list-style-type: none;
	cursor: default;
}

#legend ul li:before {    
    font-family: 'FontAwesome';
    content: '\f0c8';
    margin:0 5px 0 -15px;
}

#legend ul.active li:hover 	{
	background:hsl(170,70%, 80%);
}

li.legend_other:before 			{color: #F06EAA;}
li.legend_clustr:before 		{color: #C9C2AF;}
li.legend_queueing:before 		{color: #C2B79B;}
li.legend_network:before 		{color: #9F9371;}
li.legend_administrative:before {color: #6B7051;}
li.legend_configuration:before 	{color: #5C440B;}
li.legend_commit:before 		{color: #E46800;}
li.legend_application:before 	{color: #C02800;}
li.legend_concurrency:before 	{color: #8B1A00;}
li.legend_system_io:before 		{color: #0094EC;}
li.legend_user_io:before 		{color: #004AE7;}
li.legend_scheduler:before 		{color: #CCFFCC;}
li.legend_cpu:before 			{color: #00CC00;}

li.legend_highlighted:before 	{color: #FFFF00;}
li.legend_highlighted:{
	background-color: hsl(170,70%, 80%);
}


/* zoom and pan/select controls */
#controls {
  position: absolute;
  top: 2em;
  left: 5em;
  z-index: 1;
  font-size: 1em;
}
#zoom {
	display: block;
	text-align: center;
}
#pan-select-toggle {
	display: block;
	text-align: center;
}
#pan-select-toggle span{
    width: 5em;
}
.fa-stop-circle, .fa-stop-circle-o {
	display: block;
	font-size: 1.2em;
}
.fa-minus-square-o, .fa-plus-square-o {
	font-size: 1.2em;
}
.fa-minus-square-o:hover, 
.fa-plus-square-o:hover, 
.fa-stop-circle:hover, 
.fa-stop-circle-o:hover, 
#pan-select-toggle span:hover
{
    color: red;
	cursor: pointer;
}
